<div class="container">
    {{#if model.payments}}
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Amount</th>
                    <th>Transaction ID</th>
                </tr>
            </thead>
            <tbody>
                {{#each model.payments as |tx|}}
                <tr>
                    <td>{{format-date-locale tx.timestamp}}</td>
                    <td>{{format-balance tx.amount}}</td>
                    <td>
                        <!--<a href="http://mymvs.info/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{tx.tx}}</a>-->
                        <a href="https://explorer.mvs.org/#!/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{tx.tx}}</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
    <h3>No payouts yet</h3>
    {{/if}}
</div>
