<div class="center-block">
    {{#if model.nodes}}
    <table style="width: 100%">
    <tbody>
        {{#each model.nodes as |n|}}
        <tr>
            <th><h4>{{n.name}}</h4></th>
            <th><h4>Difficulty</h4></th>
            <th><h4>Workers</h4></th>
        </tr>
        {{#if n.stratums}}
        {{#each n.stratums as |s|}}
        <tr>
            <td>Port: <code class="server-address">{{s.port}}</code></td>
            <td><span class="label label-success">{{with-metric-prefix s.difficulty 0}}</span></td>
            <td><i class="fa fa-gears"></i> {{s.minerCount}}</td>
        </tr>
        {{/each}}
        {{/if}}
        {{else}}
        <tr>
            <td><span style="margin-left: 10px;" class="label label-danger">ERROR</span></td>
            <td>No servers detected. There is a problem with the API or nobody has connected yet.</td>
        </tr>
        {{/each}}
    </tbody>
    </table>
    {{/if}}
</div>